
  {{>additionalEnumTypeAnnotations}}public enum {{{datatypeWithEnum}}} {
    {{#allowableValues}}{{#enumVars}}{{{name}}}({{{value}}}){{^-last}},
    {{/-last}}{{#-last}};{{/-last}}{{/enumVars}}{{/allowableValues}}

    private String value;

    {{{datatypeWithEnum}}}(String value) {
      this.value = value;
    }

    @Override
    @JsonValue
    public String toString() {
      return value;
    }

    {{#useDataObject}}
    public static {{{datatype}}} serialize({{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}} enumValue) {
      return enumValue.getValue();
    }
    {{/useDataObject}}
  }
