package {{package}};

import java.util.Objects;
{{#imports}}import {{import}};
{{/imports}}
{{#serializableModel}}import java.io.Serializable;
{{/serializableModel}}{{#models}}{{#model}}{{#description}}
{{#useDataObject}}import io.vertx.codegen.annotations.DataObject;
{{#useVertx5}}import io.vertx.codegen.json.annotations.JsonGen;{{/useVertx5}}
{{/useDataObject}}
/**
 * {{.}}
 **/
{{/description}}{{^description}}
{{/description}}{{#isEnum}}{{>enumOuterClass}}{{/isEnum}}{{^isEnum}}{{>pojo}}{{/isEnum}}{{/model}}{{/models}}